<footer class="page-footer font-small foot text-white pt-4">
  <div class="container-fluid text-center text-md-left">

    <div class="row">
      <div class="col">
        <h5 class="text-uppercase"><i class="fas fa-book"></i> Victor's Blog</h5>
        <p>This is my first ruby on rails blog app project.</p>
            <p>
                <i class="fab fa-facebook icon"></i>
                <i class="fab fa-twitter icon"></i>
                <i class="fab fa-instagram icon"></i>
            </p>
        </div>
      </div>
    </div>

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 copy">© 2021 Copyright
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->