<div>
    <div class="card">
        <div class="card-body">

            <div class="row border-top border-bottom p-3 mb-3">
                <div class="col"><%= link_to 'Back', posts_path %></div>
                <div class="col ml-5">
                    <span class="font-weight"><%= @post.title %></span>
                </div>
            </div>

            <p class="card-text">
                <%= @post.body %>
            </p>
    </div>
</div>
